
  <div class="container">
    {{>header}}
    <main>
      <h1>Plomari Links</h1>
      <div class="about">
        <p>
          <i>"Candyphone.tv"</i> is your direct link to the Kindom of Plomari's journies with the mushroom seamstress. Each "Plomari-Link" aka PLINK details a trip through K-POP video links and TIMESTAMPS!</p>
      </div>
    </main>
  </div>
   {{>footer}}
