
    <div class="container">
       {{>header}}
        <main>
            <h1>Create Timestamp</h1>
            <div class="form">
                <form action='/createTimestamp' method="POST">
                    <label for="name">Name</label>
                    <input type="text" id="title" name="title">
                    <label for="name">Description</label>
                    <textarea id="name" name="description"></textarea>
                    <input type="submit" value="Create">
                </form>
            </div>
        </main>
    </div>
{{>footer}}
