
<body>
  <div class="container">
   {{>header}}
    <main>
	<h1>Delete Plink</h1>
<div class="form">
  <form action='/delete/{{plink._id}}' method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{plink.name}}" disabled="true"/>
    <label for="name">Description</label>
    <textarea id="name" name="description" disabled="true"/>{{plink.description}}</textarea>
    <label for="image">ImageUrl</label>
    <input type="text" id="image" name="imageUrl" value="{{plink.imageUrl}}" disabled="true"/>
    <input type="submit" value="Delete">
  </form>
</div>
    </main>
  </div>
{{>footer}}

</body>
