

<body>
  <div class="container">
    {{>header}}
    <main>
      <h1>Rare Earth Plinks</h1>
      <form action="" method="" align="center">
        <input type="text" class="search" name="search" placeholder="search Plinks by...">
        <input type="submit" value="search">
      </form>
      {{#each plink}}
        <div class="plink" align="center">
          <img class="plink" src="{{imageUrl}}">
          <p>{{name}}</p>
          <a class="btn" href="/details/{{_id}}">Details</a>
        </div>
      
      {{else}}
        <h2> No Plinks found</h2>
      {{/each}}
    </main>
  </div>
{{>footer}}